body {
    background-color: rgb(255, 225, 225);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-left: 30px;
    
}

.header {
  border: 3px rgb(192, 192, 192);
  border-radius: 25px;
  background-color: white;    
  text-align: left;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
}

.content {
  border: 3px rgb(192, 192, 192);
  border-radius: 25px;
  background-color: white;    
  text-align: left;
  padding: 30px;
  margin: 10px;
  margin-top: 5px;
}

.box {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);    
  text-align: left;
  padding: 20px;
  margin: 5px;
  margin-top: 10px;
}

.form {
    display: inline-block; 
    text-align: left;
    margin-left: 20px;
}


label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  height: 40px;
}

.tabs {
  margin-left: 20px;
  cursor: pointer;
}

.activeTab {
  color: #16C0B0;
  text-decoration: underline;
}
