body {
  background-color: rgb(29, 118, 177);
  text-align: center;
}
h1 {
  color: yellow;
  font-family: sans-serif;
  font-size: 10vw;
  border: red;
  margin: 8vh 6vw;
}

form {
  display: flex;
  flex-direction: column;
  margin: 5vh 10vw;
}
select {
  flex-grow: 1;
  margin-left: 5vw;
  border-radius: 10px;
  padding: 10px;
}
input {
  required: true;
  margin: 4% 0%;
  padding: 2%;
}
input[type="text"] {
  border-radius: 2px;
  text-align: left;
}
input[type="submit"] {
  border-radius: 10px;
  font-size: 1em;
  color: royalblue;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 20vw;
}
input[type="submit"]:hover {
  cursor: pointer;
  color: white;
}
