<!-- Not Needed for now -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYSecure</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>Login</h1>
    {% if authenticated %}
    <p>
      Hello, {{ current_user.name }}! You're logged in! Email: {{ current_user.email }}
    </p>
    <div>
      <p>Google Profile Picture:</p>
      <img src="{{ current_user.profile_pic }}" alt="Google profile pic" />
    </div>
    <a class="button" href="/logout">Logout</a>
    {% else %}
    <a class="button" href="/login">Google Login</a>
    {% endif %}
  </body>
</html>
