<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYSecure</title>
  </head>
  <link rel="stylesheet" href="../static/styles.css" />
  <body>
    <h1>Reporting</h1>
    <form action="/update" method="POST">
      <input
        type="text"
        name="student_name"
        placeholder="Full Name (as in NRIC)"
      />
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 10% 0;
        "
      >
        <label for="location" style="color: white">Location:</label>
        <select name="location" id="location" required="true">
          {% for location in locations_list %}
          <option value="{{ location }}">{{ location }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
