<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <style>
      label {
        font-family: "Kunbh Sans", sans-serif;
        font-size: 20px;
        color: black;
      }

      @media screen and (max-width: 800px) {
        p {
          display: flex;
          flex-direction: column;
        }
        #timestamp {
          margin-top: 15px;
        }
      }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NYSecure</title>
  </head>
  <body>
    <!-- Top Navigation Menu -->
    <div class="topnav">
      <a href="/summary" class="active">Summary</a>
      <!-- navigation links to other pages (hidden, till click) -->
      <div id="myLinks">
        {% if current_user.is_authenticated %}
        <a href="/logout">Log out</a>
        {% else %}
        <a href="/">Login</a>
        {% endif %} {% if current_user.type == 'staff' %}
        <a href="/summary">Summary</a>
        {% endif %}
      </div>
      <!-- Bar icon  -->
      <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">☰</a>
    </div>
    {% if authenticated %}
    <div>
      <h1>Location Data</h1>
    </div>
    <br />

    <div id="app">
      <data-summary
        :blocklist="blocklist"
        :floorlist="floorlist"
        :locationsdata="locationsdata"
        :updatedtime="updatedtime"
      ></data-summary>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{url_for('static', filename='scripts/summary.js')}}"></script>
    {% endif %}
    <script src="/static/scripts/script.js"></script>
  </body>
</html>
